* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

body {
    color: #ededed;
    background: #0c1022;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    pointer-events: none;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #FFF;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    text-decoration: none;
}

.navbar a.active,
.navbar a:hover {
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

.navbar a:hover {
    color: #0ef;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 500px;

}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content p {
    font-size: 20px;
    margin: 20px 0 40px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    width: 180px;
    height: 48px;
    font-size: 19px;
    color: #fff;
    position: relative;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
}

.btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(2px);
    transition: 1s ease;
}

.btn:hover:before {
    background-position: 100% 0;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 40px;
    background-size: 200%;
    background-position: 0 0;
    border-radius: 40px;
    filter: blur(2px);
    transition: .3s ease;
}

.btn:hover:after {
    background-position: 100% 0;
}

.home-writing {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

/* .home-sci {
    width: 410px;
    height: 410px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sci .glowing-circle {
    position: relative;
    width: 100%;
    height: 100%;
    background: yellowgreen;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-sci .glowing-circle::after {
    content: '';
    position: absolute;
    width: 380px;
    height: 380px;
    background: #0c1022;
    border-radius: 50%;

}

.glowing-circle span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #f06, #3cf);
}

.glowing-circle span:nth-child(1) {
    filter: blur(6px);
    filter: contrast(100px);
}

.glowing-circle .image {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50%;
    z-index: 1;
    overflow: hidden;
}

.image img {
    position: absolute;
    top: -1px;
    left: 197px;
    transform: translateX(-50%);
    max-width: 393px;
    object-fit: cover;
} */